[submodule "Engine/Vendor/spirv-reflect"]
	path = Engine/Vendor/spirv-reflect
	url = git@github.com:KhronosGroup/SPIRV-Reflect.git
[submodule "Engine/Vendor/assimp"]
	path = Engine/Vendor/assimp
	url = git@github.com:assimp/assimp.git
